.container {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}